{% extends "base.html" %}

{% block title %}Домашня сторінка - MyCinema{% endblock %}

{% block content %}
<div class="jumbotron bg-dark text-light rounded">
    <h1 class="display-4">Ласкаво просимо на МійКінотеатр!</h1>
    <p class="lead">Найкращі фільми в одному місці.</p>
    <hr class="my-4">
    <p>Вибирайте фільми та бронюйте квитки вже зараз.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'movie_list' %}" role="button">Весь список фільмів</a>
</div>
<h2 class="premiere-title text-light">Прем'єри:</h2>
<div class="container-fluid py-4 bg-dark rounded">
    <div class="row">
        <div class="col-md-12">
            <form method="get" class="form-inline mb-4 bg-dark rounded p-3">
                <label for="sort_order" class="mr-2 text-light">Сортувати за:</label>
                <select name="sort_order" id="sort_order" class="form-control bg-dark text-light mr-2">
                    <option value="date">Датою прем'єри</option>
                    <option value="price">Ціною</option>
                </select>
                <label for="sort_direction" class="mr-2 text-light">Напрямок:</label>
                <select name="sort_direction" id="sort_direction" class="form-control bg-dark text-light mr-2">
                    <option value="asc">За зростанням</option>
                    <option value="desc">За спаданням</option>
                </select>
                <input type="hidden" name="sort_by" value="">
                <button type="submit" class="btn btn-primary">Сортувати</button>
            </form>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light rounded">
                <img src="{{ movie.poster.url }}" class="card-img-top rounded-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if movie.is_new %}
                        {{ movie.title }} <span class="badge badge-danger">NEW!</span>
                        {% else %}
                        {{ movie.title }}
                        {% endif %}
                    </h5>
                    <p class="card-text">Дата релізу: {{ movie.release_date }}</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary mr-2">Детальніше</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'movie-session-list' %}" class="btn btn-success">Придбати квиток</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}