{% extends "base.html" %}

{% block title %}Домашня сторінка - MyCinema{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Ласкаво просимо на МійКінотеатр!</h1>
    <p class="lead">Найкращі фільми в одному місці.</p>
    <hr class="my-4">
    <p>Вибирайте фільми та бронюйте квитки вже зараз.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'movie_list' %}" role="button">Весь список фільмів</a>
</div>
<h2 class="premiere-title">Прем'єри:</h2>
<div class="container mt-4">
     <form method="get" class="form-inline mb-4">
    <label for="sort_order" class="mr-2">Сортувати за:</label>
    <select name="sort_order" id="sort_order" class="form-control mr-2">
        <option value="date">Датою прем'єри</option>
        <option value="price">Ціною</option>
    </select>
    <label for="sort_direction" class="mr-2">Напрямок:</label>
    <select name="sort_direction" id="sort_direction" class="form-control mr-2">
        <option value="asc">За зростанням</option>
        <option value="desc">За спаданням</option>
    </select>
    <input type="hidden" name="sort_by" value="">
    <button type="submit" class="btn btn-primary">Сортувати</button>
</form>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if movie.is_new %}
                                {{ movie.title }} <span class="badge badge-danger">NEW!</span>
                            {% else %}
                                {{ movie.title }}
                            {% endif %}
                        </h5>
                        <p class="card-text">Дата релізу: {{ movie.release_date }}</p>
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary mr-2">Детальніше</a>
                        <a href="{% url 'movie-session-list' %}" class="btn btn-success">Придбати квиток</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    #sort_order {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 10px;
    }

    .premiere-title {
        font-size: 32px;
        font-weight: bold;
        color: #007bff;
        margin-bottom: 20px;
        border-bottom: 2px solid #007bff;
        padding-bottom: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-success:hover {
        background-color: #1f8d3f;
        border-color: #1f8d3f;
    }

    .badge-danger {
        background-color: #dc3545;
        font-size: 12px;
        padding: 3px 6px;
        font-weight: bold;
        border-radius: 3px;
    }
</style>
{% endblock %}
