{% extends "base.html" %}

{% block title %}Список фільмів - MyCinema{% endblock %}

{% block content %}
<div class="jumbotron bg-dark text-light rounded">
    <h1 class="display-4">Список фільмів</h1>
    <hr class="my-4">
</div>
<div class="container mt-4">
    <form method="get" class="form-inline mb-4 bg-dark rounded p-3">
        <label for="sort_order" class="mr-2 text-light">Сортувати за:</label>
        <select name="sort_order" id="sort_order" class="form-control bg-dark text-light mr-2">
            <option value="date">Датою прем'єри</option>
            <option value="price">Ціною</option>
        </select>
        <label for="sort_direction" class="mr-2 text-light">Напрямок:</label>
        <select name="sort_direction" id="sort_direction" class="form-control bg-dark text-light mr-2">
            <option value="asc">За зростанням</option>
            <option value="desc">За спаданням</option>
        </select>
        <input type="hidden" name="sort_by" value="">
        <button type="submit" class="btn btn-primary">Сортувати</button>
    </form>

    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light rounded">
                <a href="{% url 'movie_detail' movie.pk %}">
                    <img src="{{ movie.poster.url }}" class="card-img-top rounded-top" alt="{{ movie.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'movie_detail' movie.pk %}" class="text-light">{{ movie.title }}</a></h5>
                    <p class="card-text"><strong class="text-light">Дата виходу:</strong> {{ movie.release_date }}</p>
                    <p class="card-text"><strong class="text-light">Тривалість:</strong> {{ movie.duration }} хвилин</p>
                    <p class="card-text"><strong class="text-light">Опис:</strong> {{ movie.description|truncatechars:100 }}</p>
                    <p class="card-text"><strong class="text-light">Ціна:</strong> {{ movie.price }} грн</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'movie-session-list' %}" class="btn btn-success">Придбати квиток</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if request.user.is_superuser %}
<a href="{% url 'movie_create' %}" class="btn btn-primary mt-4">Додати фільм</a>
{% endif %}
{% endblock %}
