{% extends "base.html" %}

{% block title %}{{ movie.title }} - MyCinema{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="movie-details">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="img-fluid rounded movie-poster-lg">
                </div>
                <div class="col-md-8">
                    <h1 class="movie-title">{{ movie.title }}</h1>
                    <hr class="my-4" style="border-color: #80dfff;">
                    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
                    <p><strong>Price:</strong> {{ movie.price }} UAH</p>
                    <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
                    <p><strong>Description:</strong></p>
                    <p class="movie-description">{{ movie.description }}</p>
                    <hr class="my-4">

                    {% if request.user.is_superuser %}
                        <div class="admin-actions">
                            <a href="{% url 'movie_update' movie.pk %}" class="btn btn-outline-light" style="border-color: #80dfff">Edit</a>
                            <a href="{% url 'movie_delete' movie.pk %}" class="btn btn-outline-light" style="border-color: #ff0000">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
