{% extends "base.html" %}

{% block title %}Create Cinema Hall{% endblock %}

{% block content %}
    <h1>Create Cinema Hall</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="size">Size:</label>
        <input type="text" id="size" name="size" required><br>
        <button type="submit">Create</button>
    </form>
    <a href="{% url 'cinema-hall-list' %}">Back to Cinema Halls List</a>
{% endblock %}
