{% extends "base.html" %}

{% block title %}Update Hall - MyCinema{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-header">
                    <h1 class="text-center">Update Hall</h1>
                    <hr class="my-4" style="border-color: #80dfff;">
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-light" style="border-color: #80dfff;">Create</button>
                            <a href="{% url 'user_profile' %}" class="btn btn-outline-light" style="border-color: #ff0000;">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
