{% extends 'base.html' %}

{% block title %}Seat Reservation{% endblock %}

{% block content %}
<div style="display: flex;">
    <div style="flex: 1; margin-right: 40px; margin-top: 110px;">
        <div class="movie-poster">
            <img src="{{ movie_session.movie.poster.url }}" alt="{{ movie_session.movie.title }}" style="max-width: 400px; max-height: 500px;">
        </div>
    </div>
    <div style="flex: 2;">
        <div class="movie-info">
            <a href="{% url 'movie_detail' movie_session.movie.pk %}" style="text-decoration: none; color: #fff;">
                <p class="card-text bg-dark rounded p-2 mb-1 movie-title" style="font-size: 34px; text-align: left; font-weight: bold; margin-top: 0; margin-bottom: 10px;">{{ movie_session.movie.title }}</p>
            </a>
            <hr class="my-4">
            <p class="card-text bg-dark rounded p-2 mb-1 detail" style="font-family: 'Verdana', sans-serif; font-size: 18px; color: #fff; margin: 5px 0;"><strong>Hall:</strong> {{ movie_session.hall.name }}</p>
            <p class="card-text bg-dark rounded p-2 mb-1 detail" style="font-family: 'Verdana', sans-serif; font-size: 18px; color: #fff; margin: 5px 0;"><strong>Start Date:</strong> {{ movie_session.start_date|date:"F d, Y" }}</p>
            <p class="card-text bg-dark rounded p-2 mb-1 detail" style="font-family: 'Verdana', sans-serif; font-size: 18px; color: #fff; margin: 5px 0;"><strong>End Date:</strong> {{ movie_session.end_date|date:"F d, Y" }}</p>
            <p class="card-text bg-dark rounded p-2 mb-1 detail" style="font-family: 'Verdana', sans-serif; font-size: 18px; color: #fff; margin: 5px 0;"><strong>Start Time:</strong> {{ movie_session.start_time }}</p>
            <p class="card-text bg-dark rounded p-2 mb-1 detail" style="font-family: 'Verdana', sans-serif; font-size: 18px; color: #fff; margin: 5px 0;"><strong>Price:</strong> {{ movie_session.movie.price }} UAH</p>
            <hr class="my-4">

            <div class="form-container" style="text-align: center; background-color: #343a40; padding: 15px; border-radius: 5px;">
                <h2 class="mb-4">Seat Reservation</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_reservation_date">Reservation Date:</label>
                        {{ form.reservation_date }}
                        <p class="text-muted">Choose a date within the possible range, from today to {{ movie_session.end_date|date:"Y-m-d" }}.</p>
                    </div>
                    <div class="form-group">
                        <label for="id_seat">Reserved Seat:</label>
                        {{ form.seat }}
                        <p class="text-muted">Number of seats in the hall: {{ movie_session.hall.size }}.</p>
                    </div>
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}
                    <div class="btn-container text-center mt-3">
                        <button type="submit" class="btn btn-outline-light" style="border-color: #80dfff">Reserve</button>
                        <a href="{% url 'movie-session-list' %}" class="btn btn-outline-secondary">Back</a>
                        <hr class="my-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
