{% extends 'base.html' %}

{% block title %}Бронювання місця{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Бронювання місця</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ session.movie.title }}</h5>
                        <p class="card-text">Кінозал: {{ session.hall.name }}</p>
                        <p class="card-text">Дата: {{ session.start_date }}</p>
                        <p class="card-text">Час: {{ session.start_time }}</p>
                        <p class="card-text">Вільні місця: {{ session.available_seats }}</p>
                        <form method="post">
                            {% csrf_token %}
                            <label for="seat_number">Виберіть місце:</label>
                            <input type="number" id="seat_number" name="seat_number" min="1" max="{{ session.hall.size }}" required>
                            <button type="submit" class="btn btn-primary mt-2">Забронювати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
