{% extends "base.html" %}

{% block title %}Seat Reserved - MyCinema{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Seat Reserved</h1>
    <div class="card">
      <img src="{{ session.movie.poster.url }}" alt="{{ session.movie.title }}" class="mr-3" width="200" height="250">
      <div class="card-body">
        <h5 class="card-title">{{ session.movie.title }}</h5>
        <p class="card-text">Hall: {{ session.hall.name }}</p>
        <p class="card-text">Start Date: {{ session.start_date }}</p>
        <p class="card-text">End Date: {{ session.end_date }}</p>
        <p class="card-text">Time: {{ session.movie.duration }} minutes</p>
        <p class="card-text">Seat Reserved Successfully!</p>
      </div>
    </div>
  </div>
{% endblock %}
